extends layout
block content
    form(id="form", method="post", action="/createUser")
        label UserName:
        input(class="textBox", type="text", name="userName")
        br

        label Password:
        input(class="textBox", type="text", name="password")
        br

        label Avatar:
        select(class="textBox", name="eyes")
            each item in face.eyes
                option(value=item) #{item}
                
        select(class="textBox", name="nose")
            each item in face.nose
                option(value=item) #{item}

        select(class="textBox", name="mouth")
            each item in face.mouth
                option(value=item) #{item}
        input(type="color", name="color")
        br

        label Email:
        input(class="textBox", type="text", name="email")
        br

        label Age:
        input(class="textBox", type="text", name="age")
        br

        input(class="textBox", type="submit", value="Add User")
