extends layout

block content
    if(session.user != null)
        p Session = #{session.user.userName}
        if(session.user.isAdmin == 'true')
            a(href="/data", class="button") data
    each item in post
        div(class="post")
        if(session.user != null)
            if(item.ownerID == session.user.userID)
                a(href="/editPost/" + item.id) Edit
            if(session.user.userID == item.ownerID || session.user.isAdmin == 'true')
                a(href="/deletePost/" + item.id) delete
        p #{item.ownerID}
        p #{item.ownerName}
        img(src="profiles/" + item.ownerAvatar, alt=item.ownerName)
        p #{item.date}
        p #{item.message}
