extends layout

block content

    if(session.user != null)
        p Session = #{session.user.userName}
        <script src="excanvas.js"></script>
        if(session.user.isAdmin == 'true')
            a(href="/data", class="button") data
    each item in post
        div(class="post")
        if(session.user != null)
            if(item.ownerID == session.user.userID)
                a(href="/editPost/" + item.id) Edit
            if(session.user.userID == item.ownerID || session.user.isAdmin == 'true')
                a(href="/deletePost/" + item.id) delete
        div(class="postTableInfo")
            p(id="postInfo") #{item.ownerID}
            p(id="postInfo") #{item.ownerName}
            p(id="postInfo") #{item.date}
            p(id="postInfo") #{item.message}
            img(src="profiles/" + item.ownerAvatar, alt=item.ownerName)

    p(id="users") #{user}
    canvas(id="canvasId")
    <script src="barGraph.js"></script>
